/*  RATIO HANDLER
---------------------------------------------------*/

/* IMPORT
---------------------------------------------------*/
@import '../../assets/base_scss/_settings';
@import '../../assets/base_scss/_utilities';

/* SETTINGS
---------------------------------------------------*/
/**
 * Aspect ratio with proportional width and height
 */
@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    width: 100%;
    padding-top: percentage($height / $width);
    content: '';
  }

  > div:first-child {
    @include absolute-position();
  }
}

$ratios: (
  '43': (
    width: 4,
    height: 3,
  ),
  '169': (
    width: 16,
    height: 9,
  ),
  '166': (
    width: 16,
    height: 6,
  ),
  '34': (
    width: 3,
    height: 4,
  ),
);

/**
 * Generate a .ratioHandler class for each authorized ratio value
 */
@each $ratio in map-keys($ratios) {
  .ratioHandler#{$ratio} {
    @include aspect-ratio(
      map-get(map-get($ratios, $ratio), width),
      map-get(map-get($ratios, $ratio), height)
    );
  }
}
