/*  BADGE
---------------------------------------------------*/

/* IMPORT
---------------------------------------------------*/
@import './../../assets/base_scss/_settings';
@import './../../assets/base_scss/_utilities';

/* SETTINGS
---------------------------------------------------*/
$badges: (
  button: (
    background:   palette(neutral, grey-500),
    hover:        palette(theme, secondary),
    svgColor:     palette(neutral, grey-100),
    borderRadius: .3rem,
  ),
  allocine: (
    background: palette(brand, allocine),
    svgColor:   palette(theme, primary),
  ),
  facebook: (
    background: palette(brand, facebook),
    hover:      lighten(palette(brand, facebook), 10%),
    svgColor:   palette(mono, white)
  ),
  twitter: (
    background: palette(brand, twitter),
    hover:      lighten(palette(brand, twitter), 10%),
    svgColor:   palette(mono, white)
  ),
  season: (
    background: hslaconverter(palette(mono, white), .1),
    hover:      hslaconverter(palette(mono, white), .2),
  ),
);

.badge {
  @include size(4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 300ms ease-in-out;
  border-radius: 50%;
  color: palette(mono, white);
  line-height: 4rem;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;

  svg {
    transition: fill 300ms ease-in-out;
  }

  &--small {
    @include size(3rem);
    line-height: 3rem;
  }

  &--medium {
    @include size(3.5rem);
    margin: 0 auto .3rem;
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--button {
    &.badge--small {
      width: 4.5rem;
    }

    &.badge--medium {
      width: 5.5rem;
    }
  }
}

@each $types, $badge-map in $badges {
  .badge--#{$types} {
    background-color: map-get($badge-map, background);

    @if map-has-key($badge-map, borderRadius) {
      border-radius: map-get($badge-map, borderRadius);
    }

    @if map-has-key($badge-map, hover) {
      &:hover {
        background-color: map-get($badge-map, hover);
      }
    }

    @if map-has-key($badge-map, svgColor) {
      svg {
        height: 2.2rem;
        fill: map-get($badge-map, svgColor);
      }
    }

    &.badge--active {
      svg {
        fill: palette(theme, secondary);
      }

      @if map-has-key($badge-map, hover) {
        &:hover svg {
          fill: palette(mono, white);
        }
      }
    }

    &.badge--disabled {
      background-color: darken(map-get($badge-map, background), 10%);

      &:hover {
        background-color: darken(map-get($badge-map, background), 10%);
      }

      @if map-has-key($badge-map, svgColor) {
        svg {
          fill: darken(map-get($badge-map, svgColor), 50%);
        }
      }
    }
  }
}
