/* CARDREMOVEBTN
---------------------------------------------------*/

/* IMPORT
---------------------------------------------------*/
@import './../../assets/base_scss/_settings';
@import './../../assets/base_scss/_utilities';

/* SETTINGS
---------------------------------------------------*/
$metaInfos:(
  font-size: 2rem,
  font-size-mobile: 1.6rem,
  margin: 0
);

$remove-positions: (
  top-right: (
    top: 1rem,
    right: 1rem,
  ),
  top-left: (
    top: 1rem,
    left: 1rem,
  ),
  bottom-right: (
    bottom: 1rem,
    right: 1rem,
  ),
  bottom-left: (
    bottom: 1rem,
    left: 1rem,
  ),
);

.remove {
  position: absolute;
  border-radius: 50%;
  background-color: palette(mono, black);
  opacity: .55;
  z-index: 1;

  &:hover {
    opacity: 1;
  }

  &__remove-btn {
    @include size(3rem);
  }

  &__remove-btn-svg {
    fill: palette(mono, white);
  }
}

@each $position, $position-map in $remove-positions {
  .remove--#{$position} {
    @if map-has-key($position-map, top) {
      top: map-get($position-map, top);
    }
    @if map-has-key($position-map, right) {
      right: map-get($position-map, right);
    }
    @if map-has-key($position-map, bottom) {
      bottom: map-get($position-map, bottom);
    }
    @if map-has-key($position-map, left) {
      left: map-get($position-map, left);
    }
  }
}
